header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

  body {
    background-image: url("assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    font-family: Helvetica;
  }

  h5 {
    margin: 0px;
    text-decoration: none;
    font-weight: normal;
  }

  .sidenav {
    height: 100%;
    width: 252px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.205);
    overflow-x: hidden;
    overflow-y: auto;
  }

  a {
    text-decoration:none;
    color: rgb(194, 194, 245);
  }

  h5 a {
    text-align: left;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }

  h6 {
    text-align: center;
  }

  .sidenav h1 {
    text-align: right;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    color: #ffffff;
    display: block;
  }
  .sidenav h3 {
    text-align: right;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    display: block;
  }

  .sidenav p {
    text-align: right;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    color: #ffffff;
    display: block;
  }

  .sidenav a:hover {
    color: #ced6ec;
  }

  img {
    align: center;
    padding-bottom: 8px;
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    margin-left: 252px; /* Same as the width of the sidenav */
    font-size: 16px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  p {
    margin: 0;
  }
